@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto+Slab:wght@100..900&display=swap');


$bg-light: #F0F4FF;
$bg-dark: #2B303E;
$color-standard: #00909C;
$title-page-size: 20px;


:root {
  --xl-breakpoint: 1600px;
}

@media (min-width: var(--xl-breakpoint)) {
  .xl\:text-lg { font-size: 1.25rem !important; }
}

:root {
  --color-background: #002326;
  --color-ellipse:#15D4FF;
  --color-background-blur: rgba(56, 61, 73, 0.5);
  --color-white: #{$bg-light};
  --color-standard: #{$color-standard};
  --separator-color: var(--p-primary-200);
  --title-page-size: #{$title-page-size};
  --p-inputtext-background: transparent !important;
  --p-inputtext-disabled-background: transparent !important;
  --p-inputtext-filled-background: transparent !important;
  --p-inputtext-filled-hover-background: transparent !important;
  --p-paginator-background: transparent !important;
  --p-inputtext-filled-focus-background: transparent !important;
  --p-paginator-nav-button-selected-color: var(--p-primary-contrast-color) !important;
  --p-paginator-nav-button-selected-background: var(--p-primary-color) !important;
  --p-select-background: transparent !important;
  --p-select-disabled-background: transparent !important;
  --p-multiselect-background: transparent !important;
  --p-multiselect-disabled-background: transparent !important;
  --p-inputtext-shadow: none !important;
  --p-datepicker-date-padding: 0.175rem !important;
}

* {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

html {
  // background: $bg-light;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  transition: background 500ms;

  &.pv-dark {
    background: $bg-dark;
    transition: background 500ms;
  }
}


html, body {
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
  // background-color: #2a013d;
}

// scroll bar config
::-webkit-scrollbar {
  /* width */
  width: 6px;
}

::-webkit-scrollbar-track {
  /* Track */
  border-radius: 3px;
  background: rgba(black, 0.1);
}

::-webkit-scrollbar-thumb {
  /* Handle */
  background: var(--p-primary-color);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
  background: var(--p-primary-hover-color);
}

// primeNG personalization
.p-inputtext {
  width: 100%;
}

.p-button {
  // transition: height 500ms;
  width: 100%;
}

.p-overlay {
  max-width: 100%;
}

label {
  font-weight: normal !important;
}

.font-size {
  font-size: 13px;
}

.icon-size {
  font-size: 20px;
}

.btn-rounded .p-button {
  border-radius: 50% !important;
  width: 30px;
  height: 30px;
}

.submit-btn .p-button {
  min-width: 90px;
  height: 31px;
}

.p-tooltip-text {
  font-size: 12px;
}
